.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 60%;
  padding: 10px;
  margin: auto;
  margin-left: 30px;
}
.map-wrapper{
  position: relative;
}
.sidebarStyle {
  top: 0;
 
  display: inline-block;
  position: absolute;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}